html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


table.iksweb {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}

table.iksweb, table.iksweb td, table.iksweb th {
    border: 1px solid #595959;
}

table.iksweb td, table.iksweb th {
    padding: 3px;
    width: 30px;
    height: 35px;
}

table.iksweb th {
    background: #347c99;
    color: #fff;
    font-weight: normal;
}


* {
    box-sizing: border-box;
}


form {
    position: relative;
    width: 100%;
    margin: 0px 0px 10px 0px;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

button {
    position: absolute;
    top: 0;
    right: 0px;
    width: auto;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

    button:before {
        font-family: FontAwesome;
        font-size: 16px;
        color: #F9F0DA;
    }

.popup-fade {
    display: none;
}

.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup-add {
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}


.popup-upd {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 360px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}
    .popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
}

.id_product{
    color: blue;
}